---

---

<footer class="w-full absolute bottom-0 bg-black text-white">
  <nav class="max-w-screen-lg m-auto pt-6 pb-6 text-center">
    <ul>
      <li class="inline-block pl-2">百徳ツール</li>
      <li class="inline-block pl-2">
        <a
          href="https://github.com/nanjakkun/hyakutoku/tree/main"
          target="_blank"
          class="underline"
        >
          ソースコード
        </a>
      </li>
      <li class="inline-block pl-2">
        <a
          href="https://nanjakkun.hatenablog.jp/"
          target="_blank"
          class="underline"
        >
          作者ブログ
        </a>
      </li>
    </ul>
  </nav>
</footer>
